* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #203731;
  --gold: #d4af37;
  --gray: #2e2e2e;
  --red: #d22b2b;
  --white: #fff;
  --black: #000;
  --font-header: "Anton", sans-serif;
  --font-default: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1.25rem;
  color: var(--gray);
}

p,
li {
  font-family: var(--font-default);
  font-weight: 400;
  font-size: 1rem;
  color: var(--gray);
}

a {
  color: var(--gray);
}

button {
  cursor: pointer;
}

.btn-primary,
.btn-secondary,
.btn-secondary-green {
  border-radius: 2px;
  padding: 5px 20px;
  font-size: 1rem;
  font-family: var(--font-default);
  transition: all 0.25s ease;
}

.btn-primary {
  background-color: var(--green);
  border: 2px solid var(--green);
  color: var(--white);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--gold);
  border: 2px solid var(--gold);
  color: var(--green);
  font-weight: bold;
}

.btn-secondary {
  background-color: var(--green);
  border: 2px solid var(--gold);
  color: var(--gold);
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--gold);
  color: var(--green);
  font-weight: bold;
}

.btn-secondary-green {
  background-color: var(--gold);
  border: 2px solid var(--green);
  color: var(--green);
}

.btn-secondary-green:hover,
.btn-secondary-green:focus {
  background-color: var(--green);
  color: var(--gold);
  font-weight: bold;
}

.white-background {
  background: url("/img/white-background.png");
  width: 100%;
  height: 100%;
}

.gold-background {
  background-color: var(--gold);
  width: 100%;
  height: 100%;
}

/* ***** Galaxy Fold ***** */
/* Navigation */
header {
  background-color: var(--green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 8vh;
  position: sticky;
  width: 100%;
  top: 0;
  box-shadow: 0 0 10px var(--black);
  z-index: 100;
}

.skip-nav-btn {
  position: absolute;
  left: 0;
  top: -100%;
  height: 8vh;
  width: 100%;
  z-index: 1000;
  background-color: var(--black);
  color: var(--white);
  font-family: var(--font-default);
  font-size: 1rem;
  border: none;
}

.skip-nav-btn:focus {
  top: 0;
}

header img {
  height: 6vh;
  cursor: pointer;
}

.header-menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  width: auto;
  padding: 5px 0;
  background: transparent;
  border: none;
  position: relative;
  z-index: 500;
  cursor: pointer;
}

.hamburger-1,
.hamburger-2,
.hamburger-3 {
  width: 30px;
  height: 3px;
  background-color: var(--gold);
  margin: 3px auto;
  transition: transform 0.25s ease;
}

.header-menu-active .hamburger-1 {
  transform: rotate(45deg) translate(6px, 6px);
  background-color: var(--red);
}

.header-menu-active .hamburger-2 {
  opacity: 0;
}

.header-menu-active .hamburger-3 {
  transform: rotate(-45deg) translate(7px, -6px);
  background-color: var(--red);
}

.nav-list {
  position: absolute;
  min-height: 47vh;
  top: 8vh;
  left: -100%;
  background-color: var(--green);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-header);
  justify-content: flex-start;
  padding: 2.5vh 0 5vh;
  transition: left 0.25s ease;
  text-transform: uppercase;
}

.nav-list a {
  margin: 2.5vh 0;
  font-size: 1.25rem;
  padding: 0.25vh 2.5vw;
  color: var(--white);
  text-decoration: none;
}

.nav-list a:focus,
.nav-list a:hover {
  text-decoration: underline;
  color: var(--gold);
}

.nav-list-active {
  left: 0%;
}

main {
  min-height: 80vh;
}

/* Index */
.homepage-hero {
  display: flex;
  flex-direction: column-reverse;
}

video {
  width: 100%;
  margin: 0 auto;
}

.hero-cta {
  background-color: var(--green);
  color: var(--white);
  padding: 2.5vh 0;
  text-align: center;
}

.hero-cta h2 {
  color: var(--gold);
}

.hero-cta p {
  width: 90%;
  margin: 1.25vh auto;
  color: var(--white);
}

.hero-cta button {
  margin: 5vh auto 2.5vh;
}

/* Bears Still Suck */
.bears-suck {
  text-align: center;
  padding: 2.5vh 0;
}

.bears-suck figure {
  width: 90%;
  margin: 0 auto;
}

.bears-suck img {
  width: 100%;
}

.bears-suck-cta {
  width: 80%;
  margin: 0 auto;
  padding-top: 1.25vh;
}

.bears-suck-cta h3 {
  margin-bottom: 1.25vh;
}

.bears-suck-cta p {
  font-weight: 500;
  text-align: left;
}

.bears-suck button {
  margin-top: 5vh;
}

/* Business inquiries index */
.spikes {
  position: relative;
  background-image: url("/img/white-background.png");
  height: 2.5vh;
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 25px;
  background-size: 25px 100%;
  background-image: linear-gradient(135deg, #fbfbfb 25%, transparent 25%),
    linear-gradient(225deg, #fbfbfb 25%, transparent 25%);
  background-position: 0 0;
}

.business div {
  width: 80%;
  margin: 0 auto;
  padding-top: 5vh;
  text-align: center;
}

.business h4 {
  margin-bottom: 1.25vh;
}

.business p {
  text-align: left;
}

.business button {
  margin: 5vh 0 2.5vh;
}

.business figure {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  pointer-events: none;
}

.business img {
  width: 75%;
}

/* Beer Me */
.beer-me {
  padding: 2.5vh 0;
}

.beer-me figure {
  width: 90%;
  margin: 0 auto;
}

.beer-me img {
  width: 100%;
}

.beer-me-header,
.beer-me-steps,
.disclaimer {
  width: 90%;
}

.beer-me-header {
  margin: 0 auto;
}

.beer-me-steps {
  margin: 5vh auto 2.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.beer-me-header h2,
.beer-me-steps h3 {
  text-align: center;
}

.beer-me-header p {
  width: 90%;
  margin: 2.5vh auto;
}

.beer-me-steps ol {
  width: 80%;
  margin: 0 auto;
}

.beer-me-steps li {
  margin: 2.5vh auto;
  padding-left: 2.5vw;
}

.beer-me-steps li::marker {
  font-weight: bold;
  display: block;
}

.beer-me-steps button {
  margin: 5vh 0 2.5vh;
}

.disclaimer {
  margin: 0 auto;
  padding-bottom: 2.5vh;
  text-align: center;
}

.disclaimer p,
.disclaimer a {
  font-size: 0.8rem;
}

/* Links page */
.links-main {
  padding: 5vh 0;
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: auto;
  background-repeat: repeat;
  background-image: url("./img/lists/background.jpg");
}

.links-hero {
  text-align: center;
}

.links-hero h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--white);
}

.links-hero p {
  color: var(--white);
}

.links-hero figure {
  width: 50%;
  margin: 0 auto;
}

.links-hero img {
  width: 100%;
  margin: 0 auto 2.5vh;
  border-radius: 50%;
}

.link-options {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-option {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  font-family: var(--font-default);
  margin: 1.25vh 0;
  border: 2px solid var(--black);
  background-color: var(--white);
  color: var(--black);
  border-radius: 2px;
  transition: background 0.25s ease;
}

.link-option:hover,
.link-option:focus {
  background-color: var(--gold);
}

/* 404 Page */
.page-not-found {
  min-height: 80vh;
}

.page-not-found-cta {
  min-height: 50vh;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2.5vh 0;
}

.page-not-found-cta p {
  margin: 2.5vh 0 5vh;
}

.page-not-found-cta,
.page-not-found figure {
  display: flex;
  flex-direction: column;
}

.page-not-found figure {
  width: 100%;
  min-height: 30vh;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
}

.page-not-found img {
  width: 100%;
}

/* Footer */
footer {
  min-height: 8vh;
  background-color: var(--green);
  width: 100%;
  color: var(--white);
  text-align: center;
  padding: 1.25rem 0;
}

.copyright {
  font-size: 0.8rem;
  color: var(--white);
}

.footer-socials {
  margin: 2.5vh auto 5vh;
}

.link-socials {
  margin: 5vh auto;
}

.footer-socials,
.link-socials {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.social-icon {
  margin: 0 2.5vw;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.facebook {
  background-image: url("/img/icons/facebook-white.png");
}

.facebook:hover,
.facebook:focus {
  background-image: url("/img/icons/facebook-gold.png");
}

.instagram {
  background-image: url("/img/icons/instagram-white.png");
}

.instagram:hover,
.instagram:focus {
  background-image: url("/img/icons/instagram-gold.png");
}

.tiktok {
  background-image: url("/img/icons/tiktok-white.png");
}

.tiktok:hover,
.tiktok:focus {
  background-image: url("/img/icons/tiktok-gold.png");
}

.twitch {
  background-image: url("/img/icons/twitch-white.png");
}

.twitch:hover,
.twitch:focus {
  background-image: url("/img/icons/twitch-gold.png");
}

.twitter {
  background-image: url("/img/icons/twitter-white.png");
}

.twitter:hover,
.twitter:focus {
  background-image: url("/img/icons/twitter-gold.png");
}

.youtube {
  background-image: url("/img/icons/youtube-white.png");
}

.youtube:hover,
.youtube:focus {
  background-image: url("/img/icons/youtube-gold.png");
}

@media screen and (min-width: 300px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.75rem;
  }

  p,
  li {
    font-size: 1.25rem;
  }

  .btn-primary,
  .btn-secondary,
  .btn-secondary-green {
    font-size: 1.25rem;
  }

  /* Navigation */
  header img {
    height: 5vh;
  }

  .nav-list a {
    font-size: 1.5rem;
  }

  .bears-suck {
    padding: 5vh 0;
  }

  .bears-suck-cta button {
    margin-top: 5vh;
  }

  /* Beer Me */
  .beer-me-steps button {
    margin: 2.5vh 0;
  }

  .disclaimer p,
  .disclaimer a {
    font-size: 1rem;
  }

  /* 404 Page */
  .page-not-found figure {
    width: 70%;
  }

  /* Footer */
  .copyright {
    font-size: 1rem;
  }

  .social-icon {
    width: 25px;
    height: 25px;
  }
}

@media screen and (min-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 2rem;
  }

  p,
  li {
    font-size: 1.25rem;
  }

  .btn-primary,
  .btn-secondary,
  .btn-secondary-green {
    padding: 10px 25px;
    font-size: 1.25rem;
  }

  /* Navigation */
  header {
    padding: 0 2.5rem;
  }

  header img {
    height: 4vh;
  }

  .nav-list {
    min-height: 37vh;
  }

  /* Index */
  .hero-cta {
    background-color: var(--green);
    color: var(--white);
    padding: 2.5vh 0;
    text-align: center;
  }

  .hero-cta p {
    width: 50%;
  }

  /* Bears Still Suck */
  .bears-suck {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .bears-suck figure {
    width: 40%;
    margin: 0 2.5%;
  }

  .bears-suck-cta {
    width: 40%;
    margin: 0 2.5%;
  }

  .bears-suck-cta button {
    margin: 2.5vh auto;
  }

  /* Business inquiries index */
  .business div {
    width: 70%;
  }

  .business button {
    margin: 5vh 0 0;
  }

  .business figure {
    margin-top: -5vh;
  }

  .business img {
    width: 40%;
  }

  /* Beer Me */
  .beer-me figure {
    width: 50%;
    margin: 2.5vh auto;
  }

  .beer-me-header,
  .beer-me-steps,
  .disclaimer {
    width: 70%;
  }

  .beer-me-steps li {
    padding-left: 1.25vw;
  }

  .beer-me-steps button {
    margin: 2.5vh 0 0 0;
  }

  .disclaimer p,
  .disclaimer a {
    font-size: 1rem;
  }

  /* Links page */
  .links-main {
    padding: 7.5vh 0 5vh;
  }

  .link-socials {
    margin: 5vh auto;
  }

  .links-hero figure {
    width: 25%;
  }

  .link-options {
    width: 50%;
  }

  .link-option {
    padding: 15px 0;
    margin: 1.5vh 0;
    font-size: 1.25rem;
  }

  /* 404 Page */
  .page-not-found-cta {
    min-height: 50vh;
  }

  .page-not-found-cta p {
    width: 60%;
  }
  .page-not-found figure {
    width: 60%;
    min-height: 20vh;
  }

  /* Footer */
  .social-icon {
    margin: 0 1.25vw;
  }
}

@media screen and (min-width: 1024px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 2.5rem;
  }

  p,
  li,
  a {
    font-size: 1.25rem;
  }

  .btn-primary,
  .btn-secondary,
  .btn-secondary-green {
    padding: 5px 15px;
  }

  /* Navigation */
  header {
    padding: 0 2.5vw;
  }

  header img {
    height: 5vh;
  }

  .header-menu-toggle {
    display: none;
  }

  .nav-list {
    position: static;
    height: 8vh;
    width: auto;
    background-color: transparent;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: none;
  }

  .nav-list a {
    margin: 0;
    padding: 0 1.25vw;
  }

  /* Index */
  .homepage-hero {
    flex-direction: row-reverse;
  }

  video {
    width: 50%;
  }

  .hero-cta {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-cta p {
    width: 50%;
    margin: 2.5vh auto;
  }

  /* Bears Still Suck */
  .bears-suck figure {
    width: 35%;
    margin-left: 2.5%;
  }

  .bears-suck-cta {
    width: 40%;
    margin-right: 2.5%;
  }

  .bears-suck-cta p {
    width: 70%;
    margin: 2.5vh auto 5vh;
  }

  /* Business inquiries index */
  .business {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    min-height: 50vh;
    position: relative;
  }

  .business div {
    width: 40%;
    padding-top: 5vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
  }

  .business h4 {
    margin-bottom: 1.25vh;
  }

  .business p {
    margin-top: 2.5vh;
    text-align: left;
  }

  .business button {
    margin: 5vh 0 2.5vh;
  }

  .business figure {
    max-height: 55vh;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
  }

  .business img {
    width: 60%;
  }

  /* Beer Me */
  .beer-me figure {
    width: 30%;
    margin: 5vh auto 2.5vh;
  }

  .beer-me-header,
  .beer-me-steps,
  .disclaimer {
    width: 40%;
  }

  .beer-me-steps button {
    margin: 2.5vh 0 0 0;
  }

  .disclaimer {
    margin-top: 2.5vh;
  }

  .disclaimer p,
  .disclaimer a {
    font-size: 1rem;
  }

  /* Links page */
  .links-main {
    padding: 5vh 0;
  }

  .link-socials {
    margin: 5vh auto;
  }

  .links-hero figure {
    width: 12.5%;
  }

  .link-options {
    width: 20%;
  }

  .link-option {
    padding: 5px 0;
    margin: 1.5vh 0;
  }

  /* 404 Page */
  .page-not-found {
    min-height: 84vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .page-not-found-cta {
    width: 40%;
    min-height: 84vh;
  }

  .page-not-found figure {
    position: absolute;
    bottom: 0;
    width: 40%;
    right: 0;
  }

  /* Footer */

  .social-icon {
    margin: 0 0.75vw;
  }
}
